.settings {
	padding: 70px;
	text-align: center;
	min-height: 100vh;
}

.settings_form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 400px;
	margin: 2rem auto;
}

.setting_verification {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px 20px;
	flex-wrap: wrap;
	text-align: center;
}
