* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.topMovie {
	height: 100vh;
	overflow: hidden;
	margin: auto;
	display: flex;
	padding: 1rem;
	align-items: center;
}

.topMovie .topMovie_carousel {
	margin: auto;
	margin-top: 30px;
	height: 85%;
	width: 100%;
	flex: 2;
	min-width: 40vw;
}

.topMovie_main {
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
	flex: 3;
	align-items: center;
	background-position: center;
	-webkit-mask-image: var(--bg-mask);
	mask-image: var(--bg-mask);
}

.topMovie_info {
	justify-content: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 3;
	padding: 2rem;
	border-radius: 16px;
	background: linear-gradient(to bottom, var(--bg-trans-end) 10%, var(--bg-trans-start), var(--bg-trans-end) 90%);
	text-shadow: 2px 2px var(--text-shadow);
}
.topMovie_info span,
.topMovie_info p {
	text-shadow: 1px 1px var(--text-shadow);
}
.topMovie .topMovie_numberOne {
	text-decoration: underline;
	font-style: italic;
	color: var(--theme-main);
	font-size: 2.8rem;
}

.topMovie_title {
	font-size: 2.6rem;
}
.topMovie_title span {
	font-size: 1.6rem;
	color: var(--theme-main);
	filter: brightness(1.2);
}

.topMovie_trailerDiv {
	margin: 0.2rem;
	width: 270px;
	height: 200px;
	position: relative;
	transition: all 0.3s;
}

.topMovie_trailerDiv:hover {
	width: 300px;
	height: 225px;
	padding-bottom: 18px;
	cursor: pointer;
}

.topMovie_trailerDiv > * {
	position: absolute;
}

.topMovie_trailerDiv img {
	height: 100%;
}

.topMovie_trailerDiv p {
	background-color: var(--bg-shifted);
	opacity: 0;
	font-size: 14px;
	bottom: 0;
	transition: all 0.3s;
}

.topMovie_trailerDiv:hover p {
	opacity: 0.85;
}

.topMovie_buttons {
	margin: 1rem;
}

@media screen and (max-width: 992px) {
	.topMovie {
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
		height: calc(100vh - 40px);
	}
	.topMovie_main {
		-webkit-mask-image: none;
		mask-image: none;
	}
	.topMovie_info {
		padding: 6px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		justify-items: center;
		text-align: center;
	}

	.topMovie_title {
		font-size: 1.6rem;
		background-repeat: no-repeat;
		background-position: top center;
		padding-top: 35%;
		padding-left: 60px;
		padding-right: 60px;
		background-size: contain;
		text-align: left;
	}
	.topMovie .topMovie_numberOne {
		font-size: 1.8rem;
	}
	.topMovie_title span {
		font-size: 1.1rem;
	}
}
